#body {
  margin: 0;
}

#navbar {
  overflow: hidden;
  background-color:powderblue;
}

#navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #82D8E3;
  color: black;
}

#header {
  text-align:center;
}

#content {
  padding: 10px;
  padding-left: 100px;
  padding-right: 100px;
  height: 200px;
}

#footer {
  background-color: #F1F1F1;
  text-align: center;
  padding: 5px;
}
