#body {
  margin: 0;
}

#navbar {
  overflow: hidden;
  background-color:#b0e0e6;
}

#navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
}

#navbar a:not(.active):hover {
  background-color: #82d8e3;
  color: black;
}

.active {
  background-color: #2fbdd0
}

#header {
  text-align:center;
}

#content {
  padding: 10px;
  padding-left: 100px;
  padding-right: 100px;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: #F1F1F1;
  text-align: center;
  padding: 5px;
}

#btn1 {
  display: flex;
  margin: auto;
  display: grid;
  text-decoration: none;
  width: 150px;
}

#btn2 {
  display: flex;
  margin: auto;
  display: grid;
  transform: translate(0%, 20%);
  text-decoration: none;
  width: 150px;
}

#restartBtn {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%);
}

.btn {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #ffffff;
  border-radius: 10px;
  background-color: #008000;
}

.btn:hover {
  background-color: #009900;
}

.table_container{
  width: 100%;
}

table#game_table {
  border-collapse: collapse;
  margin: 0 auto;
  margin-bottom: 50px;
}

table#game_table, td, th {
  border: 3px solid green;
}

img {
  width: 100px;
  height: 100px;
}

.tekst {
  text-align: center;
}

.hidden {
  opacity: 0;
}

.selected {
  opacity: 0.5;
}

.scored {
  opacity: 1.0;
}
